.shrikhand-regular {
    font-family: "Shrikhand", serif;
    font-weight: 400;
    font-style: normal;
  }

  .gasoek-one-regular {
    font-family: "Gasoek One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  

body{
    height:100vh;
    margin:0;
    padding:0;
    background: #8EFAFF;
    background: linear-gradient(180deg, #8EFAFF, #56BEFF);
    overflow: hidden;
  }

  h1 {
    font-family: "Shrikhand", sans-serif;
    font-size: 2em;
    color: #ffdd46;
    text-align: center;
    animation: float 5s infinite ease-in-out;
    text-shadow: 2px 2px #fb8e3a;
    

}



  main a{
    position: absolute;
    list-style: none;
    height:9em;
    width:9em;
    background: radial-gradient(at center, #e2feffcd, #cdecffa2);
    border: 2px solid #abf2fb;
    display:flex;
    justify-content:center;
    align-items:center;
    border-radius:50%;
    margin: 0 auto;
    margin-bottom: 1em;
    text-decoration: none;
    cursor:pointer;
    font-family: "Gasoek One", sans-serif;
    font-size:1.3em;
    color:#ffcb51;
    text-shadow: 1.5px 1.5px #fb8e3a;
    z-index:2;
     

  }

  a:nth-of-type(1){
    height: 11em;
    width: 11em;
    margin-left:10vw;
    margin-top:35vh;
    animation: float 6s infinite ease-in-out;
}


  a:nth-of-type(2){
    height: 13em;
    width: 13em;
    margin-left:45vw;
    margin-top:10vh;
    animation: float 4s infinite ease-in-out;
}

a:nth-of-type(3){
    height: 11em;
    width: 11em;
    margin-left:60vw;
    margin-top:50vh;
    animation: float 5s infinite ease-in-out;
}

a:nth-of-type(4){
    height: 5em;
    width: 5em;
    margin-left:23vw;
    margin-top:15vh;
    animation: float 5s infinite ease-in-out;
}

a:nth-of-type(5){
    height: 5em;
    width: 5em;
    margin-left:75vw;
    margin-top:35vh;
    animation: float 5s infinite ease-in-out;
}


    main a:hover{
        background: radial-gradient(at center, #c4fbfdcd, #91daeca2);
        color:rgb(255, 253, 240);
        transition: all 0.3s ease-in-out;
    }

    @keyframes float {
        0% {
            transform: translateY(0); 
        }
        50% {
            transform: translateY(-20px); 
        }
        100% {
            transform: translateY(0); 
        }
    }

    .avatar{
        position: relative;
        width:15em;
        height:15em; 
        z-index: -1;
        animation: movedown 8s infinite ease-in-out;
    }

    .avatar img{
        position: absolute;
        width: 100%;
        height:100%;
        animation: rotate 8s infinite linear;
       
    }

    .avatar img:nth-of-type(2){
        width:80%;
        height:80%;
        margin-left:10%;
        margin-top:5%;
        opacity: 0.95;

    }

    .avatar h2{
      position: absolute;
      font-family: "Shrikhand", sans-serif;
      font-size: 2em;
      color: #fed4ed;
      text-align: center;
      animation: float 5s infinite ease-in-out;
      text-shadow: 2px 2px #fb8e3a;
      margin-top:8em;

    }

    @keyframes rotate{
      0%{
        transform: rotate(0deg);
      }

      25%{
        transform: rotate(20deg);
      }

      75%{
        transform: rotate(-20deg);
      }

      100%{
        transform: rotate(0deg);
      }
    }



    @keyframes movedown {
        0% {
            transform: translate(10em, 100vh); 
        }
        50% {
            transform: translate(40em, 30vh); 
        }
        100% {
            transform: translate(10em, -200%); 
        }
    }



  .vissen{
    opacity: .8;
    
  }
      
      

  /* bubbles van https://codepen.io/Momika/pen/ydaWmQ */

  .bubbles{
    position:absolute;
    width:100%;
    height: 100%;
    z-index:0;
    overflow:hidden;
    top:0;
    left:0;
  }
  .bubble{
    position: absolute;
    bottom:-100px;
    width:40px;
    height: 40px;
    background:#f1f1f1d0;
    border-radius:50%;
    opacity:0.5;
    animation: rise 10s infinite ease-in;
  }
  .bubble:nth-child(1){
    width:40px;
    height:40px;
    left:10%;
    animation-duration:8s;
  }
  .bubble:nth-child(2){
    width:20px;
    height:20px;
    left:20%;
    animation-duration:5s;
    animation-delay:1s;
  }
  .bubble:nth-child(3){
    width:50px;
    height:50px;
    left:35%;
    animation-duration:7s;
    animation-delay:2s;
  }
  .bubble:nth-child(4){
    width:80px;
    height:80px;
    left:50%;
    animation-duration:11s;
    animation-delay:0s;
  }
  .bubble:nth-child(5){
    width:35px;
    height:35px;
    left:55%;
    animation-duration:6s;
    animation-delay:1s;
  }
  .bubble:nth-child(6){
    width:45px;
    height:45px;
    left:65%;
    animation-duration:8s;
    animation-delay:3s;
  }
  .bubble:nth-child(7){
    width:90px;
    height:90px;
    left:70%;
    animation-duration:12s;
    animation-delay:2s;
  }
  .bubble:nth-child(8){
    width:25px;
    height:25px;
    left:80%;
    animation-duration:6s;
    animation-delay:2s;
  }
  .bubble:nth-child(9){
    width:15px;
    height:15px;
    left:70%;
    animation-duration:5s;
    animation-delay:1s;
  }
  .bubble:nth-child(10){
    width:90px;
    height:90px;
    left:25%;
    animation-duration:10s;
    animation-delay:4s;
  }
  @keyframes rise{
    0%{
      bottom:-100px;
      transform:translateX(0);
    }
    50%{
      transform:translate(100px);
    }
    100%{
      bottom:1080px;
      transform:translateX(-200px);
    }
  } 