* {
    font-family: "Quicksand", serif;
}

.shrikhand-regular {
    font-family: "Shrikhand", serif;
    font-weight: 400;
    font-style: normal;
  }

/* Header */
h1 {
    font-family: "Shrikhand", sans-serif;
    font-size: 2.5em;
    color: #ffdd46;
    text-align: center;
    text-shadow: 2px 2px #fb8e3a;
    margin-top: 1em;
    animation: float 5s infinite ease-in-out;
}

h2{
    text-shadow: 2px 2px #ffdd46;
    color: #fb8e3a;
    text-align: center;
    animation: floats 8s infinite ease-in-out;
}

h3{
    text-shadow: 2px 2px #ffdd46;
    color: #fb8e3a;
    text-align: center;
    animation: floats 8s infinite ease-in-out;
}



@keyframes floats {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0); 
    }
}


@keyframes float {
    0% { transform: translateY(0); }
    50% { transform: translateY(-20px); }
    100% { transform: translateY(0); }
}

/* Container voor de leerdoelen */
.containervakken {
    max-width: 1200px;
    margin: 2em auto;
    padding: 1em;
}



/* De lijsten mooi maken */
.vakken1 {
    list-style: none;
    padding: 0;
    margin: 0 auto 3em auto;
    max-width:80vw;
}

.vakken1 p{
    background: rgba(248, 253, 254, 0.9);
    border-radius: 10px;
    padding: 1.5em;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 1.5em;
    transition: transform 0.3s ease, background 0.3s ease;
}

.vakken1 p:hover {
    background: rgba(248, 253, 254, 1);
    transform: translateY(-5px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}






@media (max-width: 768px) {

    .containervakken {
        padding: 1em;
    }

    ul.ld1 li {
        padding: 1em;
    }
}